<!DOCTYPE html>
<!--Se asocia el módulo a la vista-->
<html lang="en" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 01</title>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../share/main.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
    <a class="navbar-brand"
            href="/">
            Primer Form Bootstrap + AngularJs.
            </a>
        </div>
    </div>

</nav>

<!--Contenedor Principal que englobará al form-->
<div class="container main-content" ng-controller="LoginFormController">
    <form name="theform" ng-submit="onSubmit();">

        <!--Input text nro 1-->
        <div class="form-group">
            <label form="name">Tu Nombre</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   ng-model="formModel.name"
            >
        </div>

        <div class="form-group">
            <label form="name">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   ng-model="formModel.password"
            >
        </div>

        <div class="form-group">
            <label form="name">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   ng-model="formModel.email"
            >

    <div class="form-group">
        <button class="btn btn-group-xs"
            type="submit">Registrar
        </button>
    </div>
    </form>

    <pre> {{ formModel.name | json }} </pre>
    <pre> {{ formModel.password | json }} </pre>
    <pre> {{ formModel.email | json }} </pre>

</div>

<!--Archivos requeridos para AngularJS -->
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../WelcomeModule/controller/FormValidationController.js"></script>
</body>
</html>