<!DOCTYPE html>
<!--Se asocia, el modulo a la vista, -->
<html lang="en" ng-app="LoginFormModule">
​
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    ​
    <!--Contenido estatico, hoja de estilo requeridas. -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../share/main.css" rel="stylesheet">
    ​
</head>
<body>
​
<!--Generamos barra de navegación con Bootstrap. -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!--Contenedor, con un brand-->
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="/">
                Primer Form Bootstrap + AngularJs.
            </a>
        </div>
        ​
    </div>
    ​
</nav>
​
<!--Contenedor principal que englobará al form. -->
<div class="container main-content" ng-controller="LoginFormController">
    <form name="theForm"
          novalidate="novalidate"
          ng-submit="onSubmit(theForm.$valid);"
    >
        ​
        <!--Input text nro 1 Nombre-->
        <div class="form-group">
            <label for="name">Tu Nombre</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   required="required"
                   ng-model="formModel.name"
            >
        </div>
        ​
        <div class="form-group">
            <label for="name">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   required="required"
                   ng-model="formModel.password"
            >
        </div>
        ​
        ​
        <div class="form-group" ng-class="
        {
        'has-error': !theForm.email.$valid && (!theForm.$pristine || theForm.$submitted),
        'has-success': theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)
        }
        ">
            ​
            <label for="name">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   required="required"
                   ng-model="formModel.email"
            >
        </div>
        <!--Bloque de ayuda, usando bootstrap, para mostrar-->
        <!--mensaje de error al usuario -->
        
        <p class="help-block" ng-show="theForm.email.$error.required &&
        (!theForm.$pristine  || theForm.$submitted)">
                El campo email es obligatorio.
        </p>
        ​
        <!--Boton, que gatilla un submit. -->
        <div class="form-group">
            <button class="btn btn-primary"
                    type="submit"> Registrar
                ​
            </button>
            ​
        </div>
        ​
    </form>
    ​
    <pre> {{ formModel.name | json  }} </pre>
    <pre> {{ formModel.password | json  }} </pre>
    <pre> {{ formModel.email | json  }} </pre>
    ​
</div>
​
​
<!--Archivos JS requeridos para el proyecto de AngularJs. -->
<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../controller/FormValidationController.js"></script>
​
</body>
</html>